{{#if user.auth}}<div class="adminToolbar"><a href="/edit/{{user.user.first}}">âœ Edit your account</a></div>{{/if}}
{{#with user}}

  {{#if user.first}}
    <h2>{{user.username}}, your first name is {{user.first}}</h2>

  {{else}} <h2>{{user.username}}, tell us your first name.</h2>
    <br/>
    <hr>
    <form id="update" action="/account/update" method="POST" enctype="application/x-www-form-urlencoded">
      <div>
        <label for="firstName">Tell us your First name:</label>
        <input id="password" type="text" name="firstName" />
      </div>
        <input type="submit" value="Update your Account" />
    </form>
  {{/if}}
{{/with}}